hr {
    margin: 0;
}
.rodape {
    background-color: var(--branco);
    padding: 1em;
}
.lista-rodape {
    display: none;
}
@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }
    .rodape__titulo {
        font-size: 24px;
    }
    .lista-rodape {
        display: block;
    }
    .lista-rodape__titulo {
        color: var(--titulo-rodape);
        font-size: 14px;
        text-transform: uppercase;
    }
    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 0.6em 0em;
    }
    .lista-rodape__link {
        color: var(--item-rodape);
        text-decoration: none;
        margin-left: 0.6em;
    }
    .lista-rodape__link:hover {
        color: var(--laranja);
    }
}
@media screen and (min-width: 1728px)
{
    .rodape {
        padding: 3em;
    }
    .lista-rodape {
        border-left: 1px solid var(--titulo-rodape);
        padding-left: 1em;
    }
}